@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html.lenis {
    height: auto;
  }
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  .lenis.lenis-stopped {
    overflow: hidden;
  }
}

/* Force la fluidité sur tous les éléments */
* {
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}